/* Basic styling for the page and buttons */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-block-end: 20px;
}

.container {
    max-inline-size: 600px;
    margin: 0 auto;
    text-align: center;
}

textarea {
    inline-size: 100%;
    padding: 12px;
    font-size: 16px;
    margin-block-end: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.controls {
    margin-block-end: 20px;
}

/* Popup styling */
.popup-container {
    display: none; /* Hidden by default */
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure it appears above other content */
}

.popup-content {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    inline-size: 400px; /* Fixed width for the popup */
}

.popup-content h3 {
    margin: 20px 0;
    font-size: 18px;
}

.popup-content button {
    background-color: #d31f1f;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
}

.popup-content button:hover {
    background-color: #c61c1c;
}

.close-btn {
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ccc;
}

.close-btn:hover {
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    h2 {
        font-size: 20px;
    }

    .container {
        inline-size: 90%;
    }

    .popup-content {
        inline-size: 80%;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    button {
        font-size: 14px;
        padding: 10px 16px;
    }

    textarea {
        font-size: 14px;
        padding: 10px;
    }
}

/* Bold Button styling */
#boldBtn {
    background-color: #f39c12;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-block-end: 10px;
}

#boldBtn:hover {
    background-color: #070707;
}
